@model MusicLib.BLL.DTO.UserDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Details"];
    ViewData["Title"] = Localizer["Details"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label(Localizer["E-mail:"].ToString())
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label(Localizer["Role:"].ToString())
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

