@model IEnumerable<MusicLib.BLL.DTO.ArtistDTO> 
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Index"];
    ViewData["Title"] = @Localizer["Index"];
}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>@Localizer["List of Artists"]</h2>

    <a class="btn btn-primary" asp-action="Create">@Localizer["Add a new Artist"]</a>

</div>

<table class="table-condensed" style="width:100%">
    <tr>
        <th>
            @Localizer["Name"]
        </th>
        <th>
            @Localizer["BirthDate"]
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                @if (Context.Session.GetInt32("Role") == 1)
                {
                    <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                }
            </td>
        </tr>
    }
</table>